

html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

header {
    position: relative;
    padding: 10px;
    background-color: white;
    height: 150px;
    width: 100%;
}

.Titulo {
    position: absolute;
    left: 0;
    width: 10%;
}

h1 {
    margin: 0;
    color: orangered;
}

a {
    text-decoration: none;
}

.marcoDerecha {
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    text-align: right;
    margin-right: 20px;
}



.barraArriba {
    width: 100%;
    display: inline-block;
    position: relative;
    top: 10px;
    left: 0;
    margin-right: 10px;
    float: right;

    .Fecha {
        width: 14%;
        position: absolute;
        right: 70%;
    }

    .Publicidad{
        width: 32%;
        position: absolute;
        right: 40%;
        

    }
    .Redes{
        width: 30%;
        position: absolute;
        right: 10%;

    }
    .Buscador{
        width: 8%;
        position:  absolute;
        right: 0;

    
    }
}

.barraAbajo{
    

    position: relative;
    top: 100px;
    
    .barraBlanca{
        a{
            padding: 10px;
        }
    }

    .SimboloMenu{
        
    }

}

.subtituloNav {
    font-size: 13px;
    color: #f15a08;
    text-transform: uppercase;
    font-family: 'Space Mono', monospace;
}

hr {
    border: none;
    height: 1px;
    background-color: orangered;
    margin: 10px 0;
    position: relative;
    width: 100%;
    top: 60px;
}


.fondoNaranja{
    background-color: orangered;
    height: 400px;
    position: absolute;
    z-index: -1;
    width: 100%;

}

.block{
    height: 40px;
}

.PrimerasNoticias{
    height: 1100px;
}

.noticiaPrincipal {

    position: relative; /* Establece la posición relativa para que los elementos absolutamente posicionados se ubiquen relativos a este contenedor */
    z-index: 0;
    top: 15%;
    
    height: 60%;
    


    .infoNoticia {
        position: absolute; /* Posiciona este elemento de manera absoluta dentro de su contenedor */
        bottom: 0; /* Lo coloca en la parte superior del contenedor */
        left: 0; /* Lo coloca en la parte izquierda del contenedor */
        /*background-color: rgba(0, 0, 0, 0.5);  Fondo semitransparente para mejorar la legibilidad del texto */
        padding: 10px; /* Añade un poco de espacio alrededor del texto */
        color: white; /* Color del texto */
        z-index: 1; /* Coloca este elemento por encima de la imagen */
    }
    
    .infoNoticia .tipoNoticia {
        font-weight: bold; /* Añade negrita al tipo de noticia */
        background-color: #f15a08;
        width: 70px;

    }
    
    .infoNoticia .Subtitulo {
        margin-top: 5px; /* Añade un poco de espacio entre el tipo de noticia y el título */
    }


}


.noticiaSecundaria{

    top: 50%
   

}


.NoticiaInfoAfuera {
     /* Establece la posición relativa para que los elementos absolutamente posicionados se ubiquen relativos a este contenedor */
    z-index: 0;
    width: 28%;
    margin-right: 20px; /* Espacio entre las noticias */
    float: left; /* Hace que las noticias floten hacia la izquierda */
    padding: 10px;

    figure {
        position: relative; /* Establece la posición relativa para que los elementos absolutamente posicionados se ubiquen relativos a este contenedor */
        margin: 0; /* Elimina el margen predeterminado de la figura */
    }
    
    img {
        width: 100%;
        display: block; /* Hace que la imagen se comporte como un bloque */
    }
    
    .tipoNoticia {
        position: absolute; /* Posiciona este elemento de manera absoluta */
        bottom: 0; /* Lo coloca en la parte inferior */
        left: 0; /* Lo coloca en la parte izquierda */
        font-weight: bold; /* Añade negrita al tipo de noticia */
        background-color: #f15a08;
        color: white;
        padding: 5px;
    }
}




/* Estilo para la imagen */
figure {
    margin: 0; /* Elimina el margen predeterminado de la figura */
}


.FormSuscripcion {
    margin-top: 0;
    background-color: #f8f8f8; /* Color de fondo */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.FormSuscripcion h2 {
    color: #ff6600; /* Color del texto */
    margin-bottom: 10px; /* Espaciado inferior */
}

.FormSuscripcion button {
    background-color: #ff6600; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Borde redondeado */
}




footer{

    
    height: 400px;
    text-align: center;

    .hrArriba{
        height: 10px;
        background-color: #f15a08;
        width: auto;
        top: 0;
    }

    .hrDoble{
        height: 2px;
        background-color: #f15a08;
        
        top: 0;
        width: 80%;
        left: 10%;
        
    }
    img{
        height: 50px;
        padding: 15px;
        
        
    }

    a{
        color: #f15a08;
        padding: 10px;
        text-decoration: none;
    }
    .Copyright{
        float: left;
        width: 450px;
    }
    .navfooter{
        float: left;
        left: 0;
        width: 75%;
        height: 30px;
        font-size: small    ;
    }

    .botonesFondo{

        width: 25%;
        float: right;
        img{
            padding: 0;
            width: 90px;
            height: 30px;
        }

        .logoBluestack{
            
            background-color: blue;

        }
    }
    
}